<!-- Begin Blog Grid -->
<div class="blog-wrap">
  <!-- Begin Blog -->
  <div class="blog-grid">
    <!-- Begin Image Format -->
    <% @articles.each do |article| %>
    <div class="post format-image box"> 
      <div class="frame">
        <%= link_to image_tag(article.image), "/cycle/#{article.id}" %>
      </div>
      <h2 class="title"><%= link_to "#{article.title}", "/cycle/#{article.id}" %></h2>
      <p><%= article.text %></p>
      <div class="details">
        <span class="icon-image"><a href="#">September 26, 2012</a></span>
        <span class="likes"><a href="#" class="likeThis">44</a></span>
        <span class="comments"><a href="#">3</a></span>
      </div>
    </div>
    <% end %>
  </div>
</div>