<!-- Begin Container -->
<div class="box">

  <h1 class="title">Delete Completed</h1>
  
  <div class="one-third">
    <div class="outer none"><span class="inset">
    <%= link_to '投稿一覧へ戻る', "/" %></span></div>
  </div>
</div>